<html>
	<head>
		<link href="css/yatzee.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<h1 id="titulo">YatZee</h1>
		
	<div id="lanzar">
			<form method="POST" action="/lanzarDado">
			<input type="submit" value="lanzar">
			</form>
			<form method="POST" action="/relanzarDado">
			<input type="submit" value="relanzar">
			</form>
		</div>
		<div id="dados">
		<table id="tablaDados">
			<tr colspan="5" align="center"> Dados </tr>
			<tr>
				<td> 			
					<div> <%= @resultado%>
						<input type="checkbox" name="relanzar" value="relanzar">
					</div>
				</td>
				<td> 			
					<div> <%= @resultado%>
						<input type="checkbox" name="relanzar" value="relanzar">
					</div>
				</td>
				<td> 			
					<div> <%= @resultado%>
						<input type="checkbox" name="relanzar" value="relanzar">
					</div>
				</td>
				<td> 			
					<div> <%= @resultado%>
						<input type="checkbox" name="relanzar" value="relanzar">
					</div>
				</td>
				<td> 			
					<div> <%= @resultado%>
						<input type="checkbox" name="relanzar" value="relanzar">
					</div>
				</td>

			</tr>
		</table>
		
		<div id="total">
			<p>Total Puntos: <%= @resultado_total%><p>
		</div>	

	<body>
</html>
