<html>
	<head>
		<link href="css/yatzee.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<h1 id="titulo">YatZee</h1>
		
	<div id="lanzar">
			<form method="POST" action="/lanzarDado">
			<input type="submit" value="lanzar">
			</form>
			
		</div>
		<div id="dados">
		<form method="POST" action="/relanzarDado">		
		<table id="tablaDados">
			<tr  align="center"> 
				<td colspan="5">
					Dados
				</td>
			 </tr>
			<tr>
				<td> 			
					<div> <%= @resultado%>
						<input type="checkbox" name="dado1" >
					</div>
				</td>
				<td> 			
					<div> <%= @resultado2%>
						<input type="checkbox" name="dado2">
					</div>
				</td>
				<td> 			
					<div> <%= @resultado3%>
						<input type="checkbox" name="dado3">
					</div>
				</td>
				<td> 			
					<div> <%= @resultado4%>
						<input type="checkbox" name="dado4">
					</div>
				</td>
				<td> 			
					<div> <%= @resultado5%>
						<input type="checkbox" name="dado5">
					</div>
				</td>

			</tr>
			<tr>
				<td colspan="5">
					<input type="submit" value="relanzar">			
				</td>
			</tr>
		
		</table>
		</form>

		<div>
			<table>
				<tr>
					<td colspan="2"><h2>Tabla de puntos</h2></td>
				</tr>
				<tr>
					<td>Puntaje :</td>				
					<td><%= @resultado_total%></td>
				</tr>
			</table>
		</div>
		<div id="total">
			<p>Resultado : <%= @mensaje%><p>
		</div>	


	<body>
</html>
