<html>
	<head>

		<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
		<link href="css/yatzee.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
	<div class="row">		
		<div class="col-lg-4"></div>
		<div class="col-lg-4 col-centered">
				<h1 id="titulo">YatZee</h1>		
		</div>
		<div class="col-lg-4"></div>

	</div>
	<div class="row">		
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
			<form method="POST" action="/lanzarDado">
				<input type="submit" value="lanzar" class="btn-primary" id="btn_lanzar">
			</form>
		</div>
		<div class="col-lg-4"></div>
	</div>

	<div class="row">		
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
		<form method="POST" action="/relanzarDado">		
		
		<table id="tablaDados" class="table">
			<tr  align="center"> 
				<td colspan="5">
					Dados
				</td>
			 </tr>
			<tr>
				<td> 			
					<div> <%= @resultado%>
						<input type="checkbox" name="d1_selected" >
					</div>
				</td>
				<td> 			
					<div> <%= @resultado2%>
						<input type="checkbox" name="d2_selected">
					</div>
				</td>
				<td> 			
					<div> <%= @resultado3%>
						<input type="checkbox" name="d3_selected">
					</div>
				</td>
				<td> 			
					<div> <%= @resultado4%>
						<input type="checkbox" name="d4_selected">
					</div>
				</td>
				<td> 			
					<div> <%= @resultado5%>
						<input type="checkbox" name="d5_selected">
					</div>
				</td>

			</tr>
			<tr>
				<td id="btn_relanzar" colspan="5">
					<input type="submit" value="relanzar" id="relanzar" class="btn-warning">
				</td>
			</tr>
			<tr>
				<td colspan="5">
				<div>
					<input type="hidden" id="lanzamiento" value="<%= @@lanzamientos%>"/>
					Lanzamientos:<%= @@lanzamientos%>
				</div>
				</td>

			</tr>
		
		</table>
		</form>
		</div>
		<div class="col-lg-4"></div>
	</div>
		<div>
		<div class="row">
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
			<table class="table">
				<tr>
					<td colspan="2"><h2>Tabla de puntos</h2></td>
				</tr>
				<tr>
					<td>Puntaje :</td><td><%= @resultado_total%></td>				
				</tr>
			</table>

		</div>
		<div class="col-lg-4"></div>
		</div>
		</div>
	<div class="row">		
		<div class="col-lg-4"></div>
		<div class="col-lg-4 col-centered">
					<input type="hidden" id="result" value="<%= @mensaje%>"/>
					<h1>Resultado : <%= @mensaje%><h1>
		<div>
			<form method="POST" action="/nvoJuego">
			<input type="submit" value="Volver a Jugar">
			</form>
		</div>
		</div>
		<div class="col-lg-4"></div>

	</div>		
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	<body>

</html>
